<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<h:form id="form">
		<div class="ui-grid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-1">
					<p:outputLabel value="Mensagem" />
				</div>
				<div class="ui-grid-col-3">
					<p:inputText value="#{indexController.mensagem}" id="mensagem"/>
				</div>
				<div class="ui-grid-col-1">
					<p:commandButton action="#{indexController.enviar}" value="Enviar"
						update="textarea" styleClass="span2" process="@this mensagem"/>
				</div>
			</div>
			<br />

			<div class="ui-grid-row">
				<p:inputTextarea id="textarea" value="#{indexController.mensagem}"
					styleClass="ui-grid-col-5" />
			</div>
		</div>
	</h:form>
</body>
</html>
