<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:x="http://java.sun.com/jsf/composite/components" template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<p:panel header="Cadastro de Autor" style="text-align:center;">
				<div class="ui-grid">
					<div class="ui-grid-row">
						<p:outputLabel value="Nome" for="nome" styleClass="ui-grid-col-1" />
						<p:inputText value="#{autorController.autor.nome}" id="nome" styleClass="ui-grid-col-9" required="true" />
					</div>
					<br />
					<div class="ui-grid-row">
						<p:outputLabel value="Email" for="email" styleClass="ui-grid-col-1" />
						<p:inputText value="#{autorController.autor.email}" id="email" styleClass="ui-grid-col-4" required="true" />
						<p:outputLabel value="Telefone" for="telefone" styleClass="ui-grid-col-1" />
						<p:inputMask mask="(99) 9999-9999" value="#{autorController.autor.telefone}" id="telefone" styleClass="ui-grid-col-4" required="true" />
					</div>

					<br />
					<p:panel header="Endereço" style="text-align:center;">
						<div class="ui-grid-row">
							<p:outputLabel value="Cidade" for="cidade" styleClass="ui-grid-col-1" />
							<p:inputText value="#{autorController.autor.endereco.cidade}" id="cidade" styleClass="ui-grid-col-4" />
							<p:outputLabel value="UF" for="uf" styleClass="ui-grid-col-1" />
							<p:inputText value="#{autorController.autor.endereco.uf}" id="uf" styleClass="ui-grid-col-4" />
						</div>
						<br />
						<div class="ui-grid-row">
							<p:outputLabel value="Logradouro" for="logradouro" styleClass="ui-grid-col-1" />
							<p:inputText value="#{autorController.autor.endereco.logradouro}" id="logradouro" styleClass="ui-grid-col-4" />
							<p:outputLabel value="Bairro" for="bairro" styleClass="ui-grid-col-1" />
							<p:inputText value="#{autorController.autor.endereco.bairro}" id="bairro" styleClass="ui-grid-col-4" />
						</div>
						<br />
						<div class="ui-grid-row">
							<p:outputLabel value="Número" for="numero" styleClass="ui-grid-col-1" />
							<p:inputText value="#{autorController.autor.endereco.numero}" id="numero" styleClass="ui-grid-col-4" />
							<p:outputLabel value="CEP" for="cep" styleClass="ui-grid-col-1" />
							<p:inputMask mask="99999-999" value="#{autorController.autor.endereco.cep}" id="cep" styleClass="ui-grid-col-4" />
						</div>
					</p:panel>
					<br />
					<div class="buttons">
						<p:commandButton action="#{autorController.salvar}" value="Salvar" styleClass="span2" process="@form" update="@form" />
					</div>
				</div>
			</p:panel>

		</h:form>

	</ui:define>

</ui:composition>