<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:x="http://java.sun.com/jsf/composite/components" template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="form">
			<p:panel id="panel" header="Consultar Autor" styleClass="ui-grid ui-grid-responsive" style="text-align:center;">
				<f:validateBean disabled="true">
					<div class="ui-grid-row">
						<p:outputLabel value="Nome: " styleClass="ui-grid-col-2" />
						<p:inputText value="#{autorConsultaController.autor.nome}" styleClass="ui-grid-col-5" />
					</div>
					<p:spacer height="10" />
					<div class="buttons">
						<p:commandButton value="Limpar" action="#{autorConsultaController.limpar}" update="autores panel" />
						<p:commandButton value="Consultar" action="#{autorConsultaController.consultar}" update="autores" />
					</div>
				</f:validateBean>
			</p:panel>
			<p:dataTable id="autores" value="#{autorConsultaController.autorList}" var="autor">
				<f:facet name="header">Autores</f:facet>
				<p:column headerText="Opções">
					<div style="text-align: center;">
						<p:commandButton actionListener="#{autorConsultaController.show(autor)}" icon="ui-icon-zoomin" title="Visualizar" oncomplete="PF('autorDialog').show();" update=":autorDialog" process="@this" />
						<p:commandButton actionListener="#{autorConsultaController.showEditar(autor)}" icon=" ui-icon-pencil" title="Editar" oncomplete="PF('editarAutorDialog').show();" update=":editarAutorDialog"
							process="@this" />
						<p:commandButton id="deleteCommandButton" icon="ui-icon-trash" title="Remover" oncomplete="PF('confirmation').show();"
							>
							<f:setPropertyActionListener target="#{autorConsultaController.autorRemover}" value="#{autor}" />
						</p:commandButton>
					</div>
				</p:column>
				<p:column headerText="Nome">
					<h:outputText value="#{autor.nome}" />
				</p:column>
				<p:column headerText="Email">
					<h:outputText value="#{autor.email}" />
				</p:column>
				<p:column headerText="Telefone">
					<h:outputText value="#{autor.telefone}" />
				</p:column>

			</p:dataTable>

			<p:confirmDialog id="confirmation" message="Confirma exclusão do registro?" header="Excluir Autor" widgetVar="confirmation" appendTo="@(body)">
				<p:commandButton id="simCommandButton" value="Sim" onclick="PF('confirmation').hide();" process="@this" icon="ui-icon-check" actionListener="#{autorConsultaController.remover}" update="@form" />
				<p:commandButton id="naoCommandButton" onclick="PF('confirmation').hide();" value="Não" type="button" icon="ui-icon-cancel" />
			</p:confirmDialog>

		</h:form>
		<p:dialog id="autorDialog" appendTo="@(body)" header="Autor" width="600" height="300" style="text-align: center;" widgetVar="autorDialog">
			<h:form id="autorDialogForm" styleClass="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<h:outputText value="Nome: " styleClass="ui-grid-col-2" style="font-weight: bold; text-align:left;" />
					<h:outputText value="#{autorConsultaController.autorVisualizar.nome}" styleClass="ui-grid-col-9" style="text-align:left;" />
				</div>
				<div class="ui-grid-row">
					<h:outputText value="Email: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
					<h:outputText value="#{autorConsultaController.autorVisualizar.email}" styleClass="ui-grid-col-4" style="text-align:left;" />
					<h:outputText value="Telefone: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
					<h:outputText value="#{autorConsultaController.autorVisualizar.telefone}" styleClass="ui-grid-col-4" style="text-align:left;" />
				</div>
				<p:outputPanel rendered="#{autorConsultaController.autorVisualizar.endereco != null}">
					<div class="ui-grid-row">
						<h:outputText value="Cidade: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
						<h:outputText value="#{autorConsultaController.autorVisualizar.endereco.cidade}" styleClass="ui-grid-col-4" style="text-align:left;" />
						<h:outputText value="UF: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
						<h:outputText value="#{autorConsultaController.autorVisualizar.endereco.uf}" styleClass="ui-grid-col-4" style="text-align:left;" />
					</div>
					<div class="ui-grid-row">
						<h:outputText value="Logradouro: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
						<h:outputText value="#{autorConsultaController.autorVisualizar.endereco.logradouro}" styleClass="ui-grid-col-4" style="text-align:left;" />

						<h:outputText value="Número: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
						<h:outputText value="#{autorConsultaController.autorVisualizar.endereco.numero}" styleClass="ui-grid-col-4" style="text-align:left;" />
					</div>

					<div class="ui-grid-row">
						<h:outputText value="Bairro: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
						<h:outputText value="#{autorConsultaController.autorVisualizar.endereco.bairro}" styleClass="ui-grid-col-4" style="text-align:left;" />

						<h:outputText value="Cep: " styleClass="ui-grid-col-2" style="font-weight: bold;text-align:left;" />
						<h:outputText value="#{autorConsultaController.autorVisualizar.endereco.cep}" styleClass="ui-grid-col-4" style="text-align:left;" />
					</div>

				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog id="editarAutorDialog" appendTo="@(body)" header="Editar Autor" width="800" height="400" style="text-align: center;" widgetVar="editarAutorDialog">
			<h:form id="editarAutorDialogForm" styleClass="ui-grid ui-grid-responsive">
				<p:panel header="Dados do Autor" style="text-align:center;">
					<div class="ui-grid">
						<div class="ui-grid-row">
							<p:outputLabel value="Nome" for="nome" styleClass="ui-grid-col-2" />
							<p:inputText value="#{autorConsultaController.autorEditar.nome}" id="nome" styleClass="ui-grid-col-10" required="true" />
						</div>
						<br />
						<div class="ui-grid-row">
							<p:outputLabel value="Email" for="email" styleClass="ui-grid-col-2" />
							<p:inputText value="#{autorConsultaController.autorEditar.email}" id="email" styleClass="ui-grid-col-4" required="true" />
							<p:outputLabel value="Telefone" for="telefone" styleClass="ui-grid-col-2" />
							<p:inputMask mask="(99) 9999-9999" value="#{autorConsultaController.autorEditar.telefone}" id="telefone" styleClass="ui-grid-col-4" required="true" />
						</div>

						<br />
						<p:panel header="Endereço" style="text-align:center;">
							<div class="ui-grid-row">
								<p:outputLabel value="Cidade" for="cidade" styleClass="ui-grid-col-2" />
								<p:inputText value="#{autorConsultaController.autorEditar.endereco.cidade}" id="cidade" styleClass="ui-grid-col-4" />
								<p:outputLabel value="UF" for="uf" styleClass="ui-grid-col-2" />
								<p:inputText value="#{autorConsultaController.autorEditar.endereco.uf}" id="uf" styleClass="ui-grid-col-4" />
							</div>
							<br />
							<div class="ui-grid-row">
								<p:outputLabel value="Logradouro" for="logradouro" styleClass="ui-grid-col-2" />
								<p:inputText value="#{autorConsultaController.autorEditar.endereco.logradouro}" id="logradouro" styleClass="ui-grid-col-4" />
								<p:outputLabel value="Bairro" for="bairro" styleClass="ui-grid-col-2" />
								<p:inputText value="#{autorConsultaController.autorEditar.endereco.bairro}" id="bairro" styleClass="ui-grid-col-4" />
							</div>
							<br />
							<div class="ui-grid-row">
								<p:outputLabel value="Número" for="numero" styleClass="ui-grid-col-2" />
								<p:inputText value="#{autorConsultaController.autorEditar.endereco.numero}" id="numero" styleClass="ui-grid-col-4" />
								<p:outputLabel value="CEP" for="cep" styleClass="ui-grid-col-2" />
								<p:inputMask mask="99999-999" value="#{autorConsultaController.autorEditar.endereco.cep}" id="cep" styleClass="ui-grid-col-4" />
							</div>
						</p:panel>
						<br />
						<div class="buttons">
							<p:commandButton action="#{autorConsultaController.salvar}" value="Salvar" styleClass="span2" process="@form" update="@form :form" />
						</div>
					</div>
				</p:panel>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
