<ui:component xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:insert name="content">
		<h:form>
			<p:outputPanel>
			</p:outputPanel>
		</h:form>
	</ui:insert>
</ui:component>