<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="header-logo"></div>
	<p:menubar autoDisplay="false">
		<p:menuitem value="Home" url="/views/index.xhtml" />
		
		<p:submenu label="Autor">
			<p:menuitem value="Cadastrar" url="/views/autor/CadastrarAutor.xhtml" icon="ui-icon-plusthick" />
			<p:menuitem value="Consultar" url="/views/autor/ConsultaAutor.xhtml" icon="ui-icon-search" />
		</p:submenu>

		<p:submenu label="Editora">
			<p:menuitem value="Cadastrar" url="#" icon="ui-icon-plusthick" />
			<p:menuitem value="Consultar" url="#" icon="ui-icon-search" />
		</p:submenu>
		<p:submenu label="Livro">
			<p:menuitem value="Cadastrar" url="#" icon="ui-icon-plusthick" />
			<p:menuitem value="Consultar" url="#" icon="ui-icon-search" />
		</p:submenu>

	</p:menubar>

</ui:composition>