<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">


<h:head></h:head>
<body>
	<h:form>
		<h:inputText value="#{indexBean.nome}" />
		<h:inputText value="#{indexBean.livro.nome}" />
		<h:commandButton action="#{indexBean.enviar}" value="Enviar" />
		<br /> <br />
		<h:outputText value="#{indexBean.resultado}" />
	</h:form>
		
</body>
</html>
