.header-logo {
display:block;
width:506px;
height:100px;
background:url(#{resource['images/logo.png']}) no-repeat;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.buttons {
	text-align: center;
}

/* Footer	:::::::::::::::::::::::::::::::::::: */
.ui-layout-center .ui-layout-unit-content.ui-widget-content {
	margin-bottom: 0;
}
.ui-layout-south.footer .ui-layout-unit-content {
	height: 22px;
	padding: 6px 10px;
	text-align:center;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}
