<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
</h:head>

<h:body style="font-size: 12px">
	<p:layout fullPage="true">
		<p:layoutUnit position="north" closable="false" resizable="false" gutter="0" collapsible="true">
			<ui:include src="/sections/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="center" closable="false" resizable="false" gutter="0" collapsible="true" id="center">
			<a name="focus" />
			<p:growl id="growlSystem" severity="info" autoUpdate="true" life="6000" />
			<ui:include src="/sections/center.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="south" resizable="false" closable="false" styleClass="footer" gutter="6">
			<p>
				<span>Lagoas Digitais &copy; </span>
			</p>
		</p:layoutUnit>
	</p:layout>

	<h:outputStylesheet library="css" name="estilo.css" />

</h:body>

</html>